


*{
    margin:0;
    top:0

}.container{
    display: flex;
    height:100%;
    width: 100%;
}
.part-one{
width:40%;
background:url('https://images.unsplash.com/photo-1614311276557-e64556bf975f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dGhvcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60') no-repeat center center/cover;
opacity: 0.9;
height: 100vh;

}
.heading{
    margin :140px 0;
    padding:0px;
    display: flex;
    height: 150px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}
.odin-img{
    height:120px;
    width:95px;
}
.name{
    color:white;
    font-size: 70px;
    font-family: 'Itim', cursive;
}
footer{
    width:100%;
    color:rgba(255, 255, 255, 0.4);
    margin:100px; 
    margin-top:300px;
    font-family: 'Itim', cursive;
}
a{
    color:rgba(255, 255, 255, 0.8);
    font-family: 'Itim', cursive;
}
a:hover{
    color:rgb(255, 255, 255);
    
}
.part-two{
    height: 100vh;
    width:60vw;

    }