


*{
    margin:0;
    top:0

}.container{
    display: flex;
    height:100%;
    width: 100%;
}
.part-one{
flex:4;
background:url('https://images.unsplash.com/photo-1614311276557-e64556bf975f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dGhvcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60') no-repeat center center/cover;
opacity: 0.9;
display:flex;
flex-direction: column;
justify-content: space-between;


}
.heading{
    margin :140px 0;
    padding:0px;
    display: flex;
    height: 150px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}
.odin-img{
    height:120px;
    width:95px;
}
.name{
    color:white;
    font-size: 70px;
    font-family: 'Itim', cursive;
}
footer{
    color:rgba(255, 255, 255, 0.4);
    padding-top: 10rem;
    text-align: center;
    font-family: 'Itim', cursive;
}
a{
    color:rgba(255, 255, 255, 0.8);
    font-family: 'Itim', cursive;
}
a:hover{
    color:rgb(255, 255, 255);
    
}
.part-two
{
    flex:6;
    display: flex;
    flex-direction: column;

}
.lorem-text
{
margin-top: 20px;


}
.lorem-text,.one-liner
{
    padding:50px;
    font-family: 'Itim', cursive;
    font-size: larger;
    font:bolder;
}
.form{
    margin-top:80px;
    border:4px solid grey;

}
.form-heading{
    font-family: 'Itim', cursive;
    font-size: larger;
    font:bolder;
    padding-bottom:150px;

}